In [1]:
import datetime
import pandas as pd
from pandas_datareader import data, wb
import csv 
import os 
import sys

In [2]:
Stocks = "StocksDow.csv"
dow_stocks = pd.read_csv(Stocks, encoding='iso-8859-1', low_memory=False)
dow_stocks

In [4]:
start = datetime.date(2018,4,1)
end = datetime.date.today()

In [5]:
stock_history = pd.DataFrame(columns=['Symbol','Date','Close','High','Low','Open','Volume'])

Empty DataFrame
Columns: [Symbol, Date, Close, High, Low, Open, Volume]
Index: []

In [6]:
for index, row in dow_stocks.iterrows():
    ticker = row['Symbol']
    print(" Extracting the stock data for" + ticker)
    stock_data = data.get_data_morningstar(ticker, start, end)
    stock_data["Normalized Value"] = ((stock_data["Close"] - stock_data["Close"].mean()) /(stock_data["Close"].max() - stock_data["Close"].min()))
    df = stock_data.reset_index()
    stock_history = pd.concat([stock_history, df], ignore_index=True)
stock_history = stock_history.drop(columns=['High', 'Low', 'Open'])
stock_history = stock_history.rename(columns = {"Close": "Closing Price", "Volume": "Shares Traded", "Symbol": "Ticker", "Date": "Trade Date"})
stock_history = stock_history.sort_values('Ticker', 'Trade Date')
stock_history = stock_history[["Ticker", "Trade Date", "Closing Price", "Shares Traded", "Normalized Value"]]
stock_history

 Extracting the stock data forAXP
 Extracting the stock data forAAPL
 Extracting the stock data forBA
 Extracting the stock data forCAT
 Extracting the stock data forCSCO
 Extracting the stock data forCVX
 Extracting the stock data forXOM
 Extracting the stock data forGE
 Extracting the stock data forGS
 Extracting the stock data forHD
 Extracting the stock data forIBM
 Extracting the stock data forINTC
 Extracting the stock data forJNJ
 Extracting the stock data forKO
 Extracting the stock data forJPM
 Extracting the stock data forMCD
 Extracting the stock data forMMM
 Extracting the stock data forMRK
 Extracting the stock data forMSFT
 Extracting the stock data forNKE
 Extracting the stock data forPFE
 Extracting the stock data forPG
 Extracting the stock data forTRV
 Extracting the stock data forUNH
 Extracting the stock data forUTX
 Extracting the stock data forVZ
 Extracting the stock data forV
 Extracting the stock data forWMT
 Extracting the stock data forDIS

   Close       Date   High      Low  Normalized Value   Open Symbol   Volume
0  91.00 2018-04-02  93.55  89.9582         -0.526875  93.14    AXP  4998386
1  92.74 2018-04-03  92.93  91.1800          0.016875  91.55    AXP  2864528
2  93.58 2018-04-04  93.92  91.0800          0.279375  91.21    AXP  4619167
3  94.20 2018-04-05  95.05  93.8000          0.473125  94.20    AXP  2482315
4  91.91 2018-04-06  93.81  90.8100         -0.242500  93.24    AXP  2968942

In [12]:
output_file = os.path.join("Dow_Stock_data.csv")
stock_history.to_csv(output_file, index=False)

In [ ]:
newformat = oldformat.strftime('%m/%d/%Y')